h1 {
    background-color: blue;
    padding: 20px;
    color: white;
}
input {
    display: block;
    height: 20px;
}
li {
    border: 1px solid black;
    border-radius: 4px;
    position: relative;
}
ul {
    list-style: none;
    padding-left: 0;
}
.note-update-form {
    background-color: blue;
    border: 1px solid #000;
    // text-align:center;
    height: 40vh;
    width: 60vh;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
input {
    margin:auto;
}
button {
    margin:auto;
    display:block;
}