h1 {
    background-color: blue;
    padding: 20px;
    color: white;
}
input {
    display: block;
    height: 20px;
}
li {
    border: 1px solid black;
    border-radius: 4px;
}
ul {
    list-style: none;
    padding-left: 0;
}
